.login-box {
    position: relative;
    width: 300px;
    margin: 0 auto;
  }

.error-box {
    position: absolute; /* Make the container absolutely positioned */
    top: 25%; /* Position it below the login box */
    left: 50%; /* Center it horizontally */
    transform: translateX(-50%); /* Center it horizontally */
    width: 300px;
  /* Other styles */
}

.error-message {
    background-color: #ffe6e6;
    border: 1px solid #ff8080;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}

.error-message p {
    color: #ff3333;
    font-size: 16px;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 100%;
}
input[type="text"], input[type="password"] {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    width: 94%;
}
input[type="submit"] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 3px;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}
h1 {
    text-align: center;
    font-family: Arial, sans-serif;
}