table {
    margin: auto;
    font-family: Arial, sans-serif;
    font-size: 16px;
    border-collapse: separate;
    border-spacing: 320px;
    border: 1px solid #ccc;
    border-collapse: collapse;
}

table th {
    background-color: #a3baec;
}

table tr:nth-child(even) {
    background-color: #dce4f5;
}

table tr:nth-child(odd) {
    background-color: #fdfdfd;
}

table td, table th {
    padding: 10px;
}
